.buttonMenuLeft {
        -fx-background-color:  #F0EDCC;
      -fx-text-fill: #02343F;
      -fx-font-size: 14px;

      -fx-font-family: Consolas;
      -fx-background-radius: 6px;
      -fx-padding: 8 16;
      -fx-cursor: hand;
      -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 4, 0.3, 0, 2);
      -fx-graphic-text-gap: 10;
      -fx-alignment: CENTER_LEFT;
      -fx-transition: all 0.3s ease-in-out;
      -fx-background-insets: 0;
  }
}

.buttonMenuLeft:hover {
    -fx-background-color: white 20% ;
    -fx-text-fill: #02343F;
}

.buttonDashCenter {
        -fx-background-color:  #02343F;
      -fx-text-fill: #F0EDCC;
      -fx-font-size: 14px;

      -fx-font-family: Consolas;
      -fx-background-radius: 6px;
      -fx-padding: 8 16;
      -fx-cursor: hand;
      -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 4, 0.3, 0, 2);
      -fx-graphic-text-gap: 10;
      -fx-alignment: CENTER_LEFT;
      -fx-transition: all 0.3s ease-in-out;
      -fx-background-insets: 0;
  }
}

.buttonDashCenter:hover {
    -fx-background-color:  #F0EDCC 20% ;
    -fx-text-fill: #02343F;
}
